/* Custom Stylesheet */
nav.navigation {
  background: #525252;
  color: #fff;
  position: relative;
  padding-top: 40px;
  min-height: 100px;
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.main{    position: absolute;
  z-index: 1000;}
nav.navigation > a, nav.navigation{
  display: table;
  width: 200px;
  height: 40px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
  position: relative;
}

nav.navigation > a > .icon {
 
  vertical-align: middle;
  width: 51px;
  height: 40px;
}

nav.navigation > a > .icon > i {
  margin: 0 11px;
  line-height: 100%;
  font-size: 21px;
  position: relative;
  top: 2px;
  margin-top: 5px;
}

nav.navigation > a > .content {
  text-align: left;
 
  vertical-align: middle;
  padding-left: 10px;
  line-height: 38px;
}

nav.navigation > a.active {
  top: 0;
  position: absolute;
}

nav.navigation > a.home, nav.navigation > a.home .content {
  background: #444;
  color: white;
}

nav.navigation > a.home.active {
  background: #444;
  color: white;
}

nav.navigation > a.home.active > .content {
  background: #444;
}


nav.navigation > a.green .icon{
  background: #27ae60;
  color: white;
}
nav.navigation > a.green:hover > .icon {
  background: #27ae60;
  color: white;}
nav.navigation > a.green:hover > .content, nav.navigation > a.green.active > .content, nav.navigation > a.green.hover > .content {
  background: #27ae60;
  color: white;
  width: 74.5%;
  height: 40px;
}


nav.navigation > a.red .icon{
  background: #c0392b;
  color: white;
}
nav.navigation > a.red:hover > .icon {
  background: #c0392b;
  color: white;}
nav.navigation > a.red:hover > .content, nav.navigation > a.red.active > .content, nav.navigation > a.red.hover > .content {
  background: #c0392b;
  color: white;
  width: 74.5%;
  height: 40px;
}

nav.navigation > a.orange .icon{
  background: #d35400;
  color: white;
}
nav.navigation > a.orange:hover > .icon {
  background: #d35400;
  color: white;}
nav.navigation > a.orange:hover > .content, nav.navigation > a.orange.active > .content , nav.navigation > a.orange.hover > .content {
  background: #d35400;
  color: white;
  width: 74.5%;
  height: 40px;
}
nav.navigation > a.yellow .icon{
  background: #f39c12;
  color: white;
}
nav.navigation > a.yellow:hover > .icon {
  background: #f39c12;
  color: white;}
nav.navigation > a.yellow:hover > .content, nav.navigation > a.yellow.active > .content , nav.navigation > a.yellow.hover > .content {
  background:  #f39c12;
  color: white;
  width: 74.5%;
  height: 40px;
}

nav.navigation > a.blue .icon{
  background: #2980b9;
  color: white;
}
nav.navigation > a.blue:hover > .icon {
  background: #2980b9;
  color: white;}
nav.navigation > a.blue:hover > .content, nav.navigation > a.blue.active > .content, nav.navigation > a.blue.hover > .content{
  background: #2980b9;
  color: white;
  width: 74.5%;
  height: 40px;
}

nav.navigation > a.purple .icon{
  background: #8e44ad;
  color: white;
}

nav.navigation > a.purple:hover > .icon {
  background: #8e44ad;
  color: white;}
nav.navigation > a.purple:hover > .content, nav.navigation > a.purple.active > .content, nav.navigation > a.purple.hover > .content  {
  background: #8e44ad;
  color: white;
  width: 74.5%;
  height: 40px;
}

nav.navigation > a.grey .icon{
  background: #2c3e50;
  color: white;
}

nav.navigation > a.grey:hover > .icon {
  background: #2c3e50;
  color: white;}
nav.navigation > a.grey:hover > .content, nav.navigation > a.grey.active > .content, nav.navigation > a.grey.hover > .content {
  background: #2c3e50;
  color: white;
  width: 74.5%;
  height: 40px;
}

nav.navigation .second_level {
  display: none;
}

nav.navigation .second_level a {
  height: auto;
  line-height: 20px;
  padding: 8px 0 8px 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

nav.navigation .second_level a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

nav.navigation .second_level > .back {
  height: 100%;
 
  padding: 0 3px;
  background: #FFF;
  vertical-align: middle;
  font-size: 13px;
  width: 5px;
}

nav.navigation .second_level > .content {
  padding: 6px 0;
  text-align: left;
  width: 100%;
 
  vertical-align: middle;
}
